@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A4DECE;
    font-family: "Questrial", sans-serif;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    padding: 1em;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.contenedor-primcipal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contactos{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 7px 13px 37px rgba(206, 206, 206, 0.8);
}
header{
    width: 100%;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 150px;
    display: block;
    margin: 0.3rem;
}
.contactos{
    padding: 0.8rem;
    overflow: hidden;
    color: gray;
}

.contactos label, .contactos input, .contactos textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}
.contactos label{
    font-weight: 700;
    font-size: 18px;
}

.contactos input, .contactos textarea{
    border: none;
    border-bottom: 2px solid #FFC105;
    margin-bottom: 10px;
    font-size: 17px;
    outline: none;
    color: gray;
    font-family: "Questrial", sans-serif;
}
.contactos textarea{
    min-height: 100px;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    cursor: pointer;
}
.lista{
    width: 25em;
    border-radius: 2px;
    margin: 5em;
}
ul{
    list-style: none
}
li{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 1em;
    border-radius: 20px;
}